<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Portfolio</title>
    <!--boxicons-->
    <link
      href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css"
      rel="stylesheet"
    />
    <!--CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <!--header-->
    <header class="active">
      <a href="#" class="logo">Shafiq.</a>

      <i class="bx bx-menu" id="menu-icon"></i>

      <nav>
        <a href="#" class="active">Home</a>
        <a href="/Resume">Resume</a>
        <a href="/Portfolio">Portfolio</a>
        <a href="/Contact">Contact</a>
      </nav>
    </header>

    <!--Home Section-->
    <section class="home active">
      <div class="home-detail">
        <h1>Shafiq Shahrin Putra</h1>
        <h2>
          I'm an
          <span>IT Student</span>
          and
          <span>Programmer</span>
        </h2>
        <p>
          I'm an undergraduate IT student with a strong passion for digital
          technology. I enjoy exploring how things work—whether it's building
          websites, developing simple apps, or experimenting with tools that
          make everyday tasks easier. Driven by curiosity, I'm always looking to
          expand my skills and apply them to real-world problems. I'm eager to
          grow both academically and professionally as I continue this journey
          in tech.
        </p>
        <div class="btn-sci">
          <a
            href="{{url_for('download_file', filename='resume.pdf')}}"
            class="btn"
            >Download Resume</a
          >
          <div class="sci">
            <a href="https://github.com/ArinShafiq"
              ><i class="bxl bx-github"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/shafiq-shahrin-putra-226a0628a/"
              ><i class="bxl bx-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="home-img">
        <div class="img-box">
          <div class="img-item">
            <img src="{{url_for('static', filename='images/me.png')}}" />
          </div>
        </div>
      </div>
    </section>

    <!--Javascript-->
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
