<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Portfolio</title>
    <!--boxicons-->
    <link
      href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css"
      rel="stylesheet"
    />
    <!--CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <!--header-->
    <header class="active">
      <a href="#" class="logo">Shafiq.</a>

      <i class="bx bx-menu" id="menu-icon"></i>

      <nav>
        <a href="/">Home</a>
        <a href="#" class="active">Resume</a>
        <a href="/Portfolio">Portfolio</a>
        <a href="/Contact">Contact</a>
      </nav>
    </header>

    <!--Resume Section-->
    <section class="resume active">
      <div class="resume-container">
        <div class="resume-box">
          <h2>What's my Resume?</h2>
          <p class="desc">
            This page contains my resume, whether it is my education,
            experience, skills or personal information.
          </p>
          <button class="resume-btn active">Education</button>
          <button class="resume-btn">Experience</button>
          <button class="resume-btn">Skills</button>
          <button class="resume-btn">Personal Info</button>
        </div>

        <div class="resume-box">
          <div class="resume-detail education active">
            <h2 class="heading">My <span>Education</span></h2>
            <p class="desc">
              My education history from highschool up to present.
            </p>
            <div class="resume-list">
              <div class="resume-item">
                <p class="year">2023-Present</p>
                <h3>IT Major</h3>
                <p class="company">President University</p>
                <p>
                  The place I am currently studying at to get my Bachelor
                  degree, majoring in IT. Located in Jababeka, Cikarang.
                </p>
              </div>
              <div class="resume-item">
                <p class="year">2020-2023</p>
                <h3>High School</h3>
                <p class="company">MAN 2 Jakarta</p>
                <p>
                  My previous place of study, an islamic public school in
                  Ciracas, Jakarta
                </p>
              </div>
            </div>
          </div>

          <div class="resume-detail experience">
            <h2 class="heading">My <span>Experience</span></h2>
            <p class="desc">My work experiences throughout the years.</p>
            <div class="resume-list"></div>
          </div>

          <div class="resume-detail skills">
            <h2 class="heading">My <span>Skills</span></h2>
            <p class="desc">
              My personal skills, whether it is skills I'm good at or skills I
              have a basic knowledge of and have used.
            </p>
            <div class="resume-list">
              <div class="resume-item">
                <i class="bxl bx-html5"></i>
                <span>HTML</span>
              </div>
              <div class="resume-item">
                <i class="bxl bx-css3"></i>
                <span>CSS</span>
              </div>
              <div class="resume-item">
                <i class="bxl bx-javascript"></i>
                <span>Javascript</span>
              </div>
              <div class="resume-item">
                <i class="bxl bx-php"></i>
                <span>PHP</span>
              </div>
              <div class="resume-item">
                <i class="bxl bx-my-sql"></i>
                <span>MySQL</span>
              </div>
              <div class="resume-item">
                <i class="bxl bx-postgresql"></i>
                <span>PostgreSQL</span>
              </div>
              <div class="resume-item">
                <i class="bxl bx-java"></i>
                <span>Java</span>
              </div>
              <div class="resume-item">
                <i class="bxl bx-python"></i>
                <span>Python</span>
              </div>
              <div class="resume-item">
                <i class="bxl bx-tux"></i>
                <span>Linux</span>
              </div>
            </div>
          </div>

          <div class="resume-detail about">
            <h2 class="heading"><span>My</span> Information</h2>
            <p class="desc">My personal information.</p>
            <div class="resume-list">
              <div class="resume-item">
                <p>Name <span>Shafiq Shahrin Putra</span></p>
              </div>
              <div class="resume-item">
                <p>Gender <span>Male</span></p>
              </div>
              <div class="resume-item">
                <p>Age <span>20 Years Old</span></p>
              </div>
              <div class="resume-item">
                <p>City <span>Jakarta</span></p>
              </div>
              <div class="resume-item">
                <p>Nationality <span>Indonesia</span></p>
              </div>
              <div class="resume-item">
                <p>Experience <span>None</span></p>
              </div>
              <div class="resume-item">
                <p>Email <span>shafiqshahrin73@gmail.com</span></p>
              </div>
              <div class="resume-item">
                <p>Language <span>Indonesia, English</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Javascript-->
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
